
header {
    text-align: center;
    background-attachment: scroll;
    color: #ee5522;
    background-color: #0066bb;
    /*background-image: url(../img/header-bg.jpg); */
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .intro-text {
    padding-top: 10%;
    padding-bottom: 20%;
}

header .intro-text .intro-lead-in {
    margin-bottom: 45px;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
}

header .intro-text .intro-heading {
    margin-bottom: 25px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
}

section {
    padding: 100px 0;
}

.logo {
    padding-top: 2.5%;
    padding-bottom: 4%;
}

body {
    overflow-x: hidden;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

section h2.section-heading {
    margin-top: 0px; 
    margin-bottom: 32px; /* Cambiado de 15px */
    font-size: 40px;
}

p {
    font-size: 14px;
    line-height: 1.75;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
}

a {
    color: #fff;
}

a:hover,
a:focus,
a:active,
a.active {
    color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.img-centered {
    margin: 0 auto;
}

.bg-light {
    /*background-color: #946CB2;*/
    background-color: #662d91;
}

.bg-dark {
    background-color: #222;
}

.btn-xl {
    padding: 20px 40px;
    border-color: #ff9955;
    border-radius: 18px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: #ff9955;
}

.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    border-color: #ee5522;
    color: #fff;
    background-color: #ee5522;
    text-decoration: none;
}

.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    background-image: none;
}

.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
    border-color: #ff9955;
    background-color: #ff9955;
}

